<% layout('boilerplate')%>

<div
  class="container-fluid px-4 pt-5 mt-5 text-center d-flex flex-column justify-content-center competition-background text-white"
  style="height: 90vh"
>
  <div class="row align-items-center g-lg-5 py-5 px-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="font-4 fw-bold mb-3 jumbotron-header">
        2023 TFG Video Competition
      </h1>
      <p class="col-lg-10 font-4 jumbotron-subheader">
        The TFG video competition is back! Stand a chance to win up to SGD $300
        for your TFG videos!
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5 pt-5 jumbotron-subheader text-start">
      <span class="fw-bold font-2">Requirements</span><br />
      <span class="font-4"
        >‣ Open to participants aged 16-25 <br />
        ‣Video should either be in English, or Filipino with English Subtitles
        <br />
        ‣ Video should be 2-5 minutes long<br />
        ‣ Video can be landscape or portrait</span
      >
    </div>
  </div>
</div>

<div id="timeline"></div>
<div>
  <div class="container" data-aos="fade-up">
    <div class="row text-center justify-content-center mb-5 mt-5">
      <div class="col-xl-6 col-lg-8">
        <h2 class="font-weight-bold pt-5 fs-2 font-3" id="timeline">
          Competition Timeline
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="timeline-steps">
          <div class="timeline-step">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">19-25 June</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">
                Introductory Meetings
              </p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">16 July</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">
                Checkpoint Submission
              </p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">6 August</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">
                Final Video Submission
              </p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">28 August</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">Winners Announced</p>
            </div>
          </div>
          <div class="timeline-step mb-0">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">18 September</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">Award Ceremony</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="prizes"></div>
<div data-aos="flip-left" class="px-md-4 py-2 m-md-5 m-3 text-center">
  <h2 class="fs-2 pt-5 pb-3 font-3">Prizes</h2>
  <div class="px-md-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <span class="fw-bold fs-3 font-3">1st place:</span>
          <span class="fs-4 font-3 mr-5">SGD $300 (₱12450)</span>
        </div>
        <div class="col-12 col-md-4">
          <span class="fw-bold fs-3 font-3">2nd place:</span>
          <span class="fs-4 font-3 mr-5">SGD $200 (₱8300)</span>
        </div>
        <div class="col-12 col-md-4">
          <span class="fw-bold fs-3 font-3">3rd place:</span>
          <span class="fs-4 font-3 mr-5">SGD $100 (₱4150)</span>
        </div>
        <div class="row pt-4">
          <div class="col">
            <span class="fw-bold fs-3 font-3">Two Consolation Prizes</span>
            <span class="fs-4 font-3">SGD $50 each (₱2000)</span>
            <p class="fs-5 font-3 mt-3 text-center">
              *For group winners, prize awarded is to be shared among the group.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="suggestedSections"></div>
<div data-aos="zoom-in">
  <div class="container p-4 pb-5">
    <h2 class="text-center fs-2 font-3">Suggested Sections</h2>
    <div class="row">
      <div class="col col-md-8 offset-md-2 d-flex justify-content-center">
        <img src="images/suggestedSections.png" alt="" style="width: 100%" />
      </div>
    </div>
  </div>
</div>

<div id="judging"></div>
<div data-aos="flip-right" class="px-md-4 py-2 m-md-5 m-3 text-center">
  <h2 class="fs-2 pt-5 pb-3 font-3">Judging Criteria</h2>
  <div class="table-responsive px-md-3">
    <table class="table table-bordered">
      <thead>
        <tr class="table-dark font-3">
          <th scope="col">Criteria</th>
          <th scope="col">Below Expectations</th>
          <th scope="col">Meeting Expectations</th>
          <th scope="col">Exceeding Expectations</th>
          <th scope="col">Your Score</th>
        </tr>
      </thead>
      <tbody class="font-3 text-center">
        <tr>
          <td class="text-start">
            <span class="fw-bold">Explanation of TFG Concept(s)</span
            ><br />Participants can include all 5 concepts, or select a few to
            focus on. We will grade based on your explanation of concepts.
          </td>
          <td>
            <span class="fw-bold">0 - 5 </span><br />
            Video content demonstrates limited understanding of the concepts of
            TFG.
          </td>
          <td>
            <span class="fw-bold">6 - 10</span> <br />
            Video content demonstrates adequate understanding of the concepts of
            TFG.
          </td>
          <td>
            <span class="fw-bold">11 - 15</span> <br />
            Video content demonstrates excellent understanding of the concepts
            of TFG.
          </td>
          <td class="fw-bold">/15</td>
        </tr>
        <tr>
          <td class="text-start fw-bold">Inspiration</td>
          <td>
            <span class="fw-bold">0 - 5 </span><br />
            A call for support is not made, leaving no impression on the
            audience.
          </td>
          <td>
            <span class="fw-bold">6 - 10</span> <br />
            A call for support is made, leaving a mediocre impression on the
            audience.
          </td>
          <td>
            <span class="fw-bold">11 - 15</span> <br />
            A strong call for support is made, leaving a lasting impression on
            the audience.
          </td>
          <td class="fw-bold">/15</td>
        </tr>
        <tr>
          <td class="text-start fw-bold">Creativity</td>
          <td>
            <span class="fw-bold">0 - 2 </span><br />Video incorporates a
            limited range of creative elements.
          </td>
          <td>
            <span class="fw-bold">3 - 6 </span><br />Video incorporates
            satisfactory levels of creative elements.
          </td>
          <td>
            <span class="fw-bold">7 - 10</span> <br />Video incorporates
            ingenious creative elements.
          </td>
          <td class="fw-bold">/10</td>
        </tr>
        <tr>
          <td colspan="4" class="text-end fw-bold">Your score</td>

          <td class="fw-bold">/40</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="pastWinners"></div>
<div data-aos="zoom-in">
  <div class="container px-4 pb-5">
    <h2 class="text-center fs-2 font-3">Past Winners</h2>

    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 pt-4">
      <div class="col" style="height: 37vh">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/QsdTdXZSSeA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col" style="height: 37vh">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/HXrXC4OSe1c"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

<div id="acknowledgements"></div>
<div data-aos="zoom-in">
  <div class="container p-4 pb-5">
    <h2 class="text-center fs-2 font-3">Acknowledgements</h2>
    <div class="row">
      <div class="col-8 offset-2">
        <div class="font-3 fs-6 m-3 text-center">
          We wish to recognise the following and express our sincere thanks
          to:<br /><br />
          Dr Koong Heng Nung, Dr Ong Lynn and Dr Ho Gay Hui for their
          guidance<br /><br />
          Russel Sarmiento (President, TFG Dinalupihan) for his valuable time
          and generous contribution<br /><br />
          Kathreena Andrade (President - Youth Health Ambassador, TFG Bataan)
          for her valuable time and generous contribution<br /><br />Mr K for
          his kind philanthropic support <br /><br />Nurse Education Leaders
          Maam Tina Matawaran (Dinalupihan) and Sir Oliver Enrique (Balanga
          City), for their continuous support <br /><br />All our participants
          for their enthusiasm and effort
        </div>
      </div>
    </div>
  </div>
</div>
