<% layout('boilerplate')%>

<div
  class="container-fluid px-4 pt-5 mt-5 text-center d-flex flex-column justify-content-center competition-background text-white"
  style="height: 90vh"
>
  <div class="row align-items-center g-lg-5 py-5 px-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="font-4 fw-bold mb-3 jumbotron-header">
        2024 TFG Video Competition
      </h1>
      <p class="col-lg-10 font-4 jumbotron-subheader">
        The TFG video competition is back! Stand a chance to win up to ₱12,500
        for your TFG videos!
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5 pt-5 jumbotron-subheader text-start">
      <span class="fw-bold font-2">Requirements</span><br />
      <span class="font-4"
        >‣ Open to participants aged 16-25 <br />
        ‣Video should either be in English, or Filipino with English Subtitles
        <br />
        ‣ Video should be 2-5 minutes long<br />
        ‣ Video can be landscape or portrait</span
      >
    </div>
  </div>
</div>

<div id="timeline"></div>
<div>
  <div class="container" data-aos="fade-up">
    <div class="row text-center justify-content-center mb-5 mt-5">
      <div class="col-xl-6 col-lg-8">
        <h2 class="font-weight-bold pt-5 fs-2 font-3" id="timeline">
          Competition Timeline
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="timeline-steps">
          <div class="timeline-step">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">14th July</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">
                Meeting with Bataan Provincial Health Promotion Board
              </p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">July - 5th September 2024</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">
                Self-directed learning
              </p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">5th - 15th September</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">
                Direct Learning with visiting TFG International team
              </p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">10th October</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">
                Checkpoint Submission
              </p>
            </div>
          </div>
          <div class="timeline-step mb-0">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">5th November</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">
                Winners announced & Award ceremony
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  data-aos="flip-right"
  class="px-md-4 py-2 m-md-5 m-3 text-center d-flex justify-content-center align-items-center flex-column"
>
  <h2 class="fs-2 pt-5 pb-3 font-3">Details</h2>
  <div class="table-responsive px-md-10 w-75">
    <table class="table table-bordered">
      <thead>
        <tr class="table-dark font-3">
          <th scope="col" class="text-start">Date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="font-3 text-center">
        <tr>
          <td class="text-start">
            <span class="fw-bold">14th July</span>
          </td>
          <td class="text-start">
            Meeting with Bataan Provincial Health Promotion Board to finalise
            the 2024 Tobacco-Free Generation-Bataan Province, Philippines Video
            Competition
          </td>
        </tr>
        <tr>
          <td class="text-start">
            <span class="fw-bold">July-Aug</span>
          </td>
          <td class="text-start">
            Interested persons and groups can refer to
            tobaccofreegeneration.world and tobaccofreegen.com websites to learn
            more on this endgame approach. One particular focus should be being
            able to translate the TFG advantages
            (https://www.tobaccofreegen.com/tfgi-overcome-global-blindspots/) to
            your video to leave deep impressions, make an impact on your
            audience and be the winning video.
          </td>
        </tr>
        <tr>
          <td class="text-start">
            <span class="fw-bold">5th-15th September</span>
          </td>
          <td class="text-start">
            Register your attendance to learn TFG with Staff of Bataan Health
            Promotion Board (Sir Cholo Oliver Enrique and/or Ms Kyla Jenneth
            Miraflor) to arrange for direct learning with the visiting TFG
            International Team. The Singapore TFG International Team will visit
            Balanga City between Sept 16 to 21, 2024. You will attend one or
            more of these TFG sessions, have direct contact to present your
            ideas for feedback on how to improve your winning chance. Lastly,
            you will then officially register for the video competition. You can
            also register your interest with the local Video Competition Mentor,
            Sir Russel Sarmiento from Dinalupihan. (email:
            russel2017.tfg@gmail.com)
          </td>
        </tr>
        <tr>
          <td class="text-start">
            <span class="fw-bold">10th October</span>
          </td>
          <td class="text-start">Checkpoint Submission</td>
        </tr>
        <tr>
          <td class="text-start">
            <span class="fw-bold">November</span>
          </td>
          <td class="text-start">
            Winners announcement and presentation of prizes will be announced in
            November in conjunction with the Bataan Governor's Office and the
            Bataan Health Promotion Board
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="prizes"></div>
<div data-aos="flip-left" class="px-md-4 py-2 m-md-5 m-3 text-center">
  <h2 class="fs-2 pt-5 pb-3 font-3">Prizes</h2>
  <div class="px-md-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <span class="fw-bold fs-3 font-3">1st place:</span>
          <span class="fs-4 font-3 mr-5">₱12,500</span>
        </div>
        <div class="col-12 col-md-4">
          <span class="fw-bold fs-3 font-3">2nd place:</span>
          <span class="fs-4 font-3 mr-5">₱8,300</span>
        </div>
        <div class="col-12 col-md-4">
          <span class="fw-bold fs-3 font-3">3rd place:</span>
          <span class="fs-4 font-3 mr-5">₱4,150</span>
        </div>
        <div class="row pt-4">
          <div class="col">
            <span class="fw-bold fs-3 font-3">Two Consolation Prizes</span>
            <span class="fs-4 font-3">SGD $50 each (₱2000)</span>
            <p class="fs-5 font-3 mt-3 text-center">
              *For group winners, prize awarded is to be shared among the group.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="suggestedSections" class="pt-5"></div>
<div data-aos="zoom-in">
  <div class="container p-4 pb-5">
    <h2 class="text-center fs-2 font-3">Suggested Sections</h2>
    <div class="row row-cols-1 align-items-stretch g-4 pt-4">
      <div class="col-md-8 offset-md-2">
        <img
          src="images/sections/1.jpeg"
          alt=""
          class="img-fluid"
          style="height: auto; width: auto"
        />
      </div>
      <div class="col-md-8 offset-md-2">
        <img
          src="images/sections/2.jpeg"
          alt=""
          class="img-fluid"
          style="height: auto; width: auto"
        />
      </div>
      <div class="col-md-8 offset-md-2">
        <img
          src="images/sections/3.jpeg"
          alt=""
          class="img-fluid"
          style="height: auto; width: auto"
        />
      </div>
    </div>
  </div>
</div>

<div id="judging" class="pt-5"></div>
<div data-aos="flip-right" class="px-md-4 py-2 m-md-5 m-3 text-center">
  <h2 class="fs-2 pt-5 pb-3 font-3">Judging Criteria</h2>
  <div class="table-responsive px-md-3">
    <table class="table table-bordered">
      <thead>
        <tr class="table-dark font-3">
          <th scope="col">Criteria</th>
          <th scope="col">Below Expectations</th>
          <th scope="col">Meeting Expectations</th>
          <th scope="col">Exceeding Expectations</th>
        </tr>
      </thead>
      <tbody class="font-3 text-center">
        <tr>
          <td class="text-start">
            <span class="fw-bold">Explanation of TFG Concept(s)</span>
          </td>
          <td>
            TFG concepts are vaguely and broadly mentioned, with little to no
            support using examples and contextualisation.
          </td>
          <td>
            TFG concepts are explained accurately and fully. Explanation is
            understandable.
          </td>
          <td>
            TFG concepts are explained accurately and fully. Content is further
            supported with appropriate examples and graphics.
          </td>
        </tr>
        <tr>
          <td class="text-start fw-bold">Creativity</td>
          <td>
            Video incorporates basic creative elements that slightly capture the
            audience’s attention.
          </td>
          <td>
            Video incorporates good creative elements that keep the audience
            engaged from time to time.
          </td>
          <td>
            Video incorporates outstanding creative elements that keep the
            audience fully engaged.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="acknowledgements" class="pt-5"></div>
<div data-aos="zoom-in">
  <div class="container p-4 pb-5">
    <h2 class="text-center fs-2 font-3">Acknowledgements</h2>
    <div class="row">
      <div class="col">
        <div class="font-3 fs-6 m-3 text-center">
          We wish to recognise the following and express our sincere thanks to
          the TFG Video Competition 2023 Team: <br />
          <br />
          Russel Sarmiento (TFG 2017)
          <br />
          Kathreena Andrade (TFG 2018) <br />
          Janice Koong (TFG 2015) <br />
          Euan Lim (TFG 2019) <br />
          Lee Ru Xuan (TFG 2019) <br />
          Rishabh Anand (TFG 2020) <br />
          Karunya Madhavan (TFG 2023) <br />
          Dr Koong Heng Nung (TFG 2010) <br />
          Dr Ho Gay Hui (TFG 2010) <br />
          Dr Ong Lynn (TFG 2013) <br />
          Ms Sophia Ng (TFG 2020) <br />
          Mr Nigel Ang (TFG 2023) <br />
          <br />
          Mr K for his kind philanthropic support Health Education Promotion
          Leaders <br />Maam Tina Matawaran (Dinalupihan) and Sir Oliver Enrique
          (Balanga City) for their continuous support <br /><br />All our
          participants for their enthusiasm and effort
        </div>
      </div>
    </div>
  </div>
</div>
