<% layout('boilerplate')%>

<div
  class="container-fluid px-4 pt-5 mt-5 text-center d-flex flex-column justify-content-center competition-background text-white"
  style="height: 90vh"
>
  <div class="row align-items-center g-lg-5 py-5 px-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="font-4 fw-bold mb-3 jumbotron-header">
        2023 TFG Video Competition
      </h1>
      <p class="col-lg-10 font-4 jumbotron-subheader">
        The TFG video competition is back! Stand a chance to win up to SGD $300
        for your TFG videos!
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5 pt-5 jumbotron-subheader text-start">
      <span class="fw-bold font-2">Requirements</span><br />
      <span class="font-4"
        >‣ Open to participants aged 16-25 <br />
        ‣Video should either be in English, or Filipino with English Subtitles
        <br />
        ‣ Video should be 2-5 minutes long<br />
        ‣ Video can be landscape or portrait</span
      >
    </div>
  </div>
</div>

<div id="timeline"></div>
<div>
  <div class="container" data-aos="fade-up">
    <div class="row text-center justify-content-center mb-5 mt-5">
      <div class="col-xl-6 col-lg-8">
        <h2 class="font-weight-bold pt-5 fs-2 font-3" id="timeline">
          Competition Timeline
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="timeline-steps">
          <div class="timeline-step">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">2 July</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">
                Introductory Meeting
              </p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">16 July</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">
                Checkpoint Submission
              </p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">6 August</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">
                Final Video Submission
              </p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">28 August</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">Winners Announced</p>
            </div>
          </div>
          <div class="timeline-step mb-0">
            <div class="timeline-content">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1 font-2">18 September</p>
              <p class="h6 text-muted mb-0 font-4 mb-lg-0">Award Ceremony</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="prizes"></div>
<div data-aos="flip-left" class="px-md-4 py-2 m-md-5 m-3 text-center">
  <h2 class="fs-2 pt-5 pb-3 font-3">Prizes</h2>
  <div class="px-md-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <span class="fw-bold fs-3 font-3">1st place:</span>
          <span class="fs-4 font-3 mr-5">SGD $300 (₱12450)</span>
        </div>
        <div class="col-12 col-md-4">
          <span class="fw-bold fs-3 font-3">2nd place:</span>
          <span class="fs-4 font-3 mr-5">SGD $200 (₱8300)</span>
        </div>
        <div class="col-12 col-md-4">
          <span class="fw-bold fs-3 font-3">3rd place:</span>
          <span class="fs-4 font-3 mr-5">SGD $100 (₱4150)</span>
        </div>
        <div class="row pt-4">
          <div class="col">
            <span class="fw-bold fs-3 font-3">Two Consolation Prizes</span>
            <span class="fs-4 font-3">SGD $50 each (₱2000)</span>
            <p class="fs-5 font-3 mt-3 text-center">
              *For group winners, prize awarded is to be shared among the group.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="suggestedSections" class="pt-5"></div>
<div data-aos="zoom-in">
  <div class="container p-4 pb-5">
    <h2 class="text-center fs-2 font-3">Suggested Sections</h2>
    <div class="row row-cols-1 align-items-stretch g-4 pt-4">
      <div class="col-md-8 offset-md-2">
        <img
          src="images/sections/1.jpg"
          alt=""
          class="img-fluid"
          style="height: auto; width: auto"
        />
      </div>
      <div class="col-md-8 offset-md-2">
        <img
          src="images/sections/2.jpg"
          alt=""
          class="img-fluid"
          style="height: auto; width: auto"
        />
      </div>
      <div class="col-md-8 offset-md-2">
        <img
          src="images/sections/3.jpg"
          alt=""
          class="img-fluid"
          style="height: auto; width: auto"
        />
      </div>
    </div>
  </div>
</div>

<div id="judging" class="pt-5"></div>
<div data-aos="flip-right" class="px-md-4 py-2 m-md-5 m-3 text-center">
  <h2 class="fs-2 pt-5 pb-3 font-3">Judging Criteria</h2>
  <div class="table-responsive px-md-3">
    <table class="table table-bordered">
      <thead>
        <tr class="table-dark font-3">
          <th scope="col">Criteria</th>
          <th scope="col">Below Expectations</th>
          <th scope="col">Meeting Expectations</th>
          <th scope="col">Exceeding Expectations</th>
        </tr>
      </thead>
      <tbody class="font-3 text-center">
        <tr>
          <td class="text-start">
            <span class="fw-bold">Explanation of TFG Concept(s)</span>
          </td>
          <td>
            TFG concepts are vaguely and broadly mentioned, with little to no
            support using examples and contextualisation.
          </td>
          <td>
            TFG concepts are explained accurately and fully. Explanation is
            understandable.
          </td>
          <td>
            TFG concepts are explained accurately and fully. Content is further
            supported with appropriate examples and graphics.
          </td>
        </tr>
        <tr>
          <td class="text-start fw-bold">Creativity</td>
          <td>
            Video incorporates basic creative elements that slightly capture the
            audience’s attention.
          </td>
          <td>
            Video incorporates good creative elements that keep the audience
            engaged from time to time.
          </td>
          <td>
            Video incorporates outstanding creative elements that keep the
            audience fully engaged.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="pastWinners" class="pt-5"></div>
<div data-aos="zoom-in">
  <div class="container px-4 pb-5">
    <h2 class="text-center fs-2 font-3">Past Winners</h2>
    <p class="text-center font-3">
      To see more winning videos, click
      <a
        href="https://docs.google.com/document/d/1nIFzgNXC9krOvbqdGzqIpFaJz8AmgOYQFw4Kr7UMrdY/edit"
        target="_blank"
        style="color: black"
        class="fw-bold"
        >here</a
      >.
    </p>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pt-4">
      <div class="col">
        <iframe
          width="100%"
          height="200vh"
          src="https://www.youtube.com/embed/QsdTdXZSSeA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>

        <p class="p-3 font-3">
          <span class="fw-bold">Crime of the Century</span><br />
          This informative video is presented in an engaging and positive manner
          through the youths’ fresh outlooks on TFG and its movement across
          Dinalupihan and Bataan. We love their independent and strong
          articulation against the tobacco industry. We also appreciate the
          English subtitles for wider international engagement.
          <br /><br />Explore TFG Dinalupihan’s Facebook page to learn about
          what this community, led by TFG President Russel and Ma'am Tina
          Matawaran, is doing in their municipality to advocate for TFG.<br /><br />
          <span class="fst-italic"
            >Note from Competition Directors: At 3min 26s time mark, it is said
            TFG involves the “prohibition of sales, distribution, usage and
            advertising”. While this is a common measure, it is not specific to
            TFG. We are looking for winning teams who can convince the world
            that TFG’s birth-year based approach carries better advantages than
            current tobacco control policies.</span
          >
        </p>
      </div>
      <div class="col">
        <iframe
          width="100%"
          height="200vh"
          src="https://www.youtube.com/embed/XObv_R84JYM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>

        <p class="p-3 font-3">
          <span class="fw-bold">16 bullets Phaa!</span><br />
          A heart-warming demonstration of not blaming smoking parents. Through
          brilliant storyboarding, great humour and local contextualisation,
          this video not only invites smoking parents to support TFG, but also
          encourages them to spontaneously stop smoking themselves. Many parents
          do listen better to their children who they love. This is a winning
          video from a youth group in South Africa called Rising Stars
          Generation promoting TFG after our training and is led by Mr Prince
          Motlou.
        </p>
      </div>
      <div class="col">
        <iframe
          width="100%"
          height="200vh"
          src="https://www.youtube.com/embed/HXrXC4OSe1c"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <p class="p-3 font-3">
          <span class="fw-bold">Sabi ni Lolo</span><br />
          This video has excellent cinematography and storytelling, where the
          audience is able to appreciate the familiar local scenes and learn
          about TFG at the same time. The script is very clear, with impactful
          phrases that are easy to understand. We thank John Alfred for adding
          in the definition of tobacco endgame at the 3 minute mark as all
          measures to stop vaping and smoking must be able to change the
          structural, political and social factors. Additionally, John’s
          sincerity and determination to champion for TFG came across strongly
          leading us to choose this work as a winner. <br />
          <br />We hope the 2023 participants will be able to hone deeper into
          the details of TFG. Some phrases can be taken from our website
          <a
            href="https://www.tobaccofreegen.com/tfgi-overcome-global-blindspots/"
            target="_blank"
            style="color: black"
            class="fw-bold"
            >here</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<div id="acknowledgements" class="pt-5"></div>
<div data-aos="zoom-in">
  <div class="container p-4 pb-5">
    <h2 class="text-center fs-2 font-3">Acknowledgements</h2>
    <div class="row">
      <div class="col">
        <div class="font-3 fs-6 m-3 text-center">
          We wish to recognise the following and express our sincere thanks
          to:<br /><br />
          Dr Koong Heng Nung, Dr Ong Lynn and Dr Ho Gay Hui for their
          guidance<br /><br />
          Russel Sarmiento (President, TFG Dinalupihan) for his valuable time
          and generous contribution<br /><br />
          Kathreena Andrade (President - Youth Health Ambassador, TFG Bataan)
          for her valuable time and generous contribution<br /><br />Mr K for
          his kind philanthropic support <br /><br />Nurse Education Leaders
          Maam Tina Matawaran (Dinalupihan) and Sir Oliver Enrique (Balanga
          City), for their continuous support <br /><br />All our participants
          for their enthusiasm and effort
        </div>
      </div>
    </div>
  </div>
</div>
