<% layout('boilerplate')%>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 pt-5 fw-bold font-2">2023 TFG Video Competition</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Quickly design and customize responsive mobile-first sites with Bootstrap,
      the world’s most popular front-end open source toolkit, featuring Sass
      variables and mixins, responsive grid system, extensive prebuilt
      components, and powerful JavaScript plugins.
    </p>
  </div>
</div>

<div class="container px-4 pb-5" id="custom-cards">
  <h2 class="pb-2 text-center font-3">Past Winners</h2>

  <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
    <div class="col" style="height: 37vh">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/QsdTdXZSSeA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col" style="height: 37vh">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/HXrXC4OSe1c"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>

    <!-- <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="background-image: url('unsplash-photo-1.jpg')"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            Short title, long jacket
          </h2>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="background-image: url('unsplash-photo-2.jpg')"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            Much longer title that wraps to multiple lines
          </h2>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/QsdTdXZSSeA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
        style="background-image: url('unsplash-photo-3.jpg')"
      >
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            Another longer title belongs here
          </h2>
        </div>
      </div>
    </div> -->
  </div>
</div>
