<% layout('boilerplate')%>
<div
  class="px-4 pt-5 mt-5 text-center d-flex flex-column justify-content-center main-concepts text-white"
  style="height: 90vh"
>
  <div>
    <span class="font-4 jumbotron-header" style="font-weight: 600"
      >The Main Concepts
    </span>
  </div>
</div>
<div class="container">
  <div
    data-aos="fade-left"
    data-aos-duration="1700"
    class="py-5 px-1 row featurette"
  >
    <h2 class="featurette-heading font-2 fs-1 text-center my-5">
      Introductory video
    </h2>
    <div class="col-md-8 offset-md-2 justify-content-center d-flex">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/JFSzWvXCbxU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div
    data-aos="fade-right"
    data-aos-duration="1700"
    class="py-5 px-1 row featurette"
  >
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading font-2 fs-1">
        TFG is anti-smoking, not anti-smoker
      </h2>
      <p class="font-4 fs-6">
        TFG is anti-smoking and anti-vaping, but not anti-smoker or anti-vaper.
        We know that our family and friends who smoke and vape are merely
        victims of the tobacco industry tactics and became addicted to nicotine.
        We recognise that it is difficult for smokers and vapers to quit because
        of nicotine addiction, and we welcome you to join us whenever you are
        ready.
      </p>
    </div>
    <div
      class="col-md-5 my-3 my-md-0 order-md-1 d-flex justify-content-center align-items-center"
    >
      <img
        src="images/tfgImages/tfg2.jpg"
        alt=""
        style="height: 45vh; width: 68vh"
      />
    </div>
  </div>

  <div
    data-aos="fade-left"
    data-aos-duration="1700"
    class="py-5 px-1 row featurette"
  >
    <div class="col-md-7">
      <h2 class="featurette-heading font-2 fs-1">
        TFG protects us from tobacco industry evils
      </h2>
      <p class="font-4 fs-6">
        Secret documents from the tobacco industry revealed that as early as in
        the 1970s, the tobacco industry has been targeting the youths and
        getting them addicted to nicotine. <br /><br />
        RJ Reynolds were targeting the 14 to 24 year old age group to ensure
        "increased and longer term growth" for their products in 1975, despite
        most states in the USA already having a tobacco minimum purchase age of
        18 years in the 1960s. <br />
        <br />
        A 1972 Brown & Williamson document also described how they should
        develop "tobacco pipe products that have a sweet aromatic taste",
        because "it's a well known fact that teenagers like sweet products".
        <br />
        <br />
        Click
        <a
          href="https://www.slideshare.net/racheltaketa/marketing-to-youth-42319246"
          style="color: black"
          class="fw-bold"
          target="”_blank”"
          >here</a
        >
        to view the source article.
      </p>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-items-center">
      <iframe
        style="height: 41vh; width: 70vh"
        src="https://www.youtube.com/embed/-Ub0pRe914o"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <!-- <img
        src="images/tfgImages/tfg3.jpeg"
        alt=""
        style="height: 41vh; width: 70vh"
      /> -->
    </div>
  </div>

  <div
    data-aos="fade-right"
    data-aos-duration="1700"
    class="py-5 px-1 row featurette"
  >
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading font-2 fs-1">
        TFG removes the forbidden fruit effect of the Minimum Legal Age Law
      </h2>
      <p class="font-4 fs-6">
        Just like how Adam and Eve ate the fruit from the forbidden tree that
        eventually led them to evil and destructive concepts, the Minimum Legal
        Age Law causes nicotine-based products like cigarettes and vaping
        devices to be seen as forbidden fruits. <br /><br />

        By stating legally that it is only okay to smoke or vape after you are
        18 years old, it makes it more enticing for teenagers like us to want to
        try smoking or vaping. But we all know smoking and vaping are harmful,
        no matter if you are 8 years old or 80 years old. TFG removes this
        forbidden fruit effect and sets a new gold standard for tobacco
        prevention.
      </p>
    </div>
    <div
      class="col-md-5 my-3 my-md-0 order-md-1 d-flex justify-content-center align-items-center"
    >
      <img
        src="images/tfgImages/tfg4.jpg"
        alt=""
        style="height: 45vh; width: 68vh"
      />
    </div>
  </div>

  <div
    data-aos="fade-left"
    data-aos-duration="1700"
    class="py-5 px-1 row featurette"
  >
    <div class="col-md-7">
      <h2 class="featurette-heading font-2 fs-1">
        We often hear that vaping is less harmful. This is not true.
      </h2>
      <p class="font-4 fs-6">
        This message is actually intended only for people who are already
        smoking cigarettes, as vaping would reduce their risk of health
        diseases.
        <br /><br />
        The truth is that vaping is still harmful to your body. Youths who do
        not vape in the first place have NO risk. Vaping only serves to increase
        this risk.
      </p>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-items-center">
      <img
        src="images/tfgImages/tfg5.jpg"
        alt=""
        style="height: 45vh; width: 68vh"
      />
    </div>
  </div>
</div>
