<% layout('boilerplate')%>

<div data-aos="zoom-in">
  <div class="container px-4 pb-5 pt-5 mt-5">
    <h2 class="text-center fs-2 font-3">Past Winners</h2>
    <p class="text-center font-3">
      To see more winning videos, click
      <a
        href="https://docs.google.com/document/d/1nIFzgNXC9krOvbqdGzqIpFaJz8AmgOYQFw4Kr7UMrdY/edit"
        target="_blank"
        style="color: black"
        class="fw-bold"
        >here</a
      >.
    </p>

    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 pt-4">
      <div class="col d-flex flex-column align-items-center">
        <iframe
          width="80%"
          height="250vh"
          src="https://www.youtube.com/embed/1wCKDsa__zQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>

        <p class="p-3 font-3">
          <span class="fw-bold">Exposed!</span><br />
          We congratulate Alyssa from the Municipality of Orion for this winning TFG Philippines 2023 video. It's intense pace and dramatic
          music convey the precise urgency of this global pandemic that has prevailed more than 5 decades. It is a wake-up call for the
          global society to take action than to think that the vaping and smoking pandemic as mission impossible. We thank Alyssa for
          helping the young ones to recognize that the real culprit to the vaping and smoking problems are not our unfortunate, addicted
          friends and loved ones but they are mere victims of the predatory tobacco industry. Weak public health policies/education have
          also failed to protect earlier generations when they were in their vulnerable and experimental, teenage phase of their lives. TFG is
          the now the best endgame approach with cities across the world adopting the TFG law. We recall that the City of Balanga in the
          Bataan Province, Philippines made the world's first TFG law in 2017. This video inspires the future generations to embrace TFG as
          protective. Her closing is searching, energetic and determined."
        </p>
      </div>
      <div class="col d-flex flex-column align-items-center">
        <iframe
          width="80%"
          height="250vh"
          src="https://www.youtube.com/embed/aPnIblV3_9k"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>

        <p class="p-3 font-3">
          <span class="fw-bold">How TFG rationale is better than the current, globally accepted Minimum Legal Age Law?</span><br />
          This 2023 video won the second prize with its clear narration on how Tobacco-Free Generation is better in overcoming the flaws of
          the current minimum legal age (MLA) law. The negative forbidden fruit effect of the MLA law is nicely depicted with the Garden of
          Eden narrative and is well contextualised to the Philippines, given her majority, Catholic faith. We congratulate the winners too for
          reminding others that vaping is just as harmful and it’s also marketed by the tobacco industry. It sets the scene for the 2024
          entries, not just merely to carry the some of these messages, but to greater and deeper meaning to the audience of your
          community to garner their support for TFG
        </p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pt-4">
      <div class="col">
        <iframe
          width="100%"
          height="200vh"
          src="https://www.youtube.com/embed/QsdTdXZSSeA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>

        <p class="p-3 font-3">
          <span class="fw-bold">Crime of the Century</span><br />
          This informative video is presented in an engaging and positive manner
          through the youths’ fresh outlooks on TFG and its movement across
          Dinalupihan and Bataan. We love their independent and strong
          articulation against the tobacco industry. We also appreciate the
          English subtitles for wider international engagement.
          <br /><br />Explore TFG Dinalupihan’s Facebook page to learn about
          what this community, led by TFG President Russel and Ma'am Tina
          Matawaran, is doing in their municipality to advocate for TFG.<br /><br />
          <span class="fst-italic"
            >Note from Competition Directors: At 3min 26s time mark, it is said
            TFG involves the “prohibition of sales, distribution, usage and
            advertising”. While this is a common measure, it is not specific to
            TFG. We are looking for winning teams who can convince the world
            that TFG’s birth-year based approach carries better advantages than
            current tobacco control policies.</span
          >
        </p>
      </div>
      <div class="col">
        <iframe
          width="100%"
          height="200vh"
          src="https://www.youtube.com/embed/XObv_R84JYM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>

        <p class="p-3 font-3">
          <span class="fw-bold">16 bullets Phaa!</span><br />
          A heart-warming demonstration of not blaming smoking parents. Through
          brilliant storyboarding, great humour and local contextualisation,
          this video not only invites smoking parents to support TFG, but also
          encourages them to spontaneously stop smoking themselves. Many parents
          do listen better to their children who they love. This is a winning
          video from a youth group in South Africa called Rising Stars
          Generation promoting TFG after our training and is led by Mr Prince
          Motlou.
        </p>
      </div>
      <div class="col">
        <iframe
          width="100%"
          height="200vh"
          src="https://www.youtube.com/embed/HXrXC4OSe1c"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <p class="p-3 font-3">
          <span class="fw-bold">Sabi ni Lolo</span><br />
          This video has excellent cinematography and storytelling, where the
          audience is able to appreciate the familiar local scenes and learn
          about TFG at the same time. The script is very clear, with impactful
          phrases that are easy to understand. We thank John Alfred for adding
          in the definition of tobacco endgame at the 3 minute mark as all
          measures to stop vaping and smoking must be able to change the
          structural, political and social factors. Additionally, John’s
          sincerity and determination to champion for TFG came across strongly
          leading us to choose this work as a winner. <br />
          <br />We hope the 2023 participants will be able to hone deeper into
          the details of TFG. Some phrases can be taken from our website
          <a
            href="https://www.tobaccofreegen.com/tfgi-overcome-global-blindspots/"
            target="_blank"
            style="color: black"
            class="fw-bold"
            >here</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
